@import "./Roboto/fonts";
@import "./variables.scss";
@import "./mixins.scss";

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a,
.link {
  color: #0080ff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
